/* colors:

black: #170409
dark green: #67917A
dark yellow: #B8AF03
light yellow: #CCBF82
red: #E33258

*/

body {
	color: #170409;
	background-color: #CCBF82
}


/* HEADER */

header {
	color: #CCBF82;
	background-color: #170409;
	padding: 0 10px 5px 5px;
	height: 36px;
}

header h2 {
	float: right;
	margin: 12px 0;
}

header a {
	color: #CCBF82;
	font-size: 14px;
	font-weight: normal;
}

header li {
	float: left;
	font-size: 18px;
	font-weight: bold;
	border: 0;
	margin: 10px 4px;
}

#head-configs {
	width: 200px;
}

#head-branches {
	width: 200px;
}


/* CONTENT */

#content {
	margin: 5px 0 0 0;
	padding: 5px;
}


#configs {
	float: left;
	height: 100%;
	width: 200px;
	overflow: auto;
}

#branches {
	float: left;
	height: 100%;
	width: 200px;
	overflow: auto;
	margin: 0 0 0 10px;
}

#branch {
	margin: 4px 0 0 420px;
}


/* config/branch lists */

#content li {
	border: 1px solid #CCBF82;
	margin: 3px 0;
	padding: 5px;
	font-size: 16px;
	cursor: pointer;
}

#content li.ok {
	background-color: #67917A;
}

#content li.active.ok {
	background: #67917A url(../img/ok.png) no-repeat;
	background-position: 175px;
}

#content li.ok.build {
	background: #67917A url(../img/build.png) no-repeat;
	background-position: 175px;
}

#content li.ok.release {
	background: #67917A url(../img/release.png) no-repeat;
	background-position: 175px;
}

#content li.broken {
	background-color: #E33258;
}

#content li.active.broken {
	background: #E33258 url(../img/broken.png) no-repeat;
	background-position: 175px;
}

#content li.broken.build {
	background: #E33258 url(../img/build.png) no-repeat;
	background-position: 175px;
}

#content li.broken.release {
	background: #E33258 url(../img/release.png) no-repeat;
	background-position: 175px;
}

#content li.running {
	background: #B8AF03 url(../img/spinner.gif) no-repeat;
	background-position: 175px;
}

#content li.selected {
	border: 1px dashed #170409;
	font-weight: bold;
}


/* builds table */
#branch table {
	width: 100%;
}

#branch tr {
	border-bottom: 2px solid #CCBF82;
	cursor: pointer;
}

#branch tr:hover {
	border-color: #170409;
}

#branch tr.ok {
	background-color: #67917A;
}

#branch tr.broken {
	background-color: #E33258;
}
