<!DOCTYPE html>
<html>
<head>
    <title>gitce</title>
    <link rel="stylesheet" type="text/css" href="../css/theme-default.css">
</head>
<body>
<h1>gitce</h1>
<ul id="root">
    <li class="config">
        <h2>Configname</h2>
        <h3>next</h3>
        <ul class="branches">
            <li class="branch">
                Branchname
                <a href="#">log</a>
            </li>
            <li class="branch">
                Branchname
                <a href="#">log</a>
            </li>
            <li class="branch">
                Branchname
            </li>
        </ul>
        <h3>pending</h3>
        <ul class="branches">
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
        </ul>
    </li>
    <li class="config">
        <h2>Configname</h2>
        <h3>next</h3>
        <ul class="branches">
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
        </ul>
        <h3>pending</h3>
        <ul class="branches">
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
        </ul>
    </li>
    <li class="config">
        <h2>Configname</h2>

        <h3>next</h3>
        <ul class="branches">
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
        </ul>

        <h3>pending</h3>
        <ul class="branches">
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
            <li class="branch">
                Branchname
            </li>
        </ul>
    </li>
</ul>
</body>
</html>
