.wrap {
    padding: 20px;
}

/* console */
#console {
    background: #000;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.4em;
    font-weight: normal;
    height: 800px;
    line-height: 1.4em;
    margin: 0 20px 0 0;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: pre;
}

#console .error {
    color: #f33;
    font-weight: bold;
}

#console .warning {
    color: #ff3;
}

#console .info {
    font-weight: bold;
}

#console .success {
    color: #3f3;
    font-weight: bold;
}

/* history */
#history {
    float: right;
    width: 180px;
}

#history h2 {
    margin: 0 0 10px;
}

#history ul li {
    padding: 5px 0;
    font-size: 1.2em;
}

#history ul li.current {
    font-weight: bold;
}