.server {
    margin: 20px;
}

.server .configs {
    margin: 0 10px;
}

.config {
    border: 1px solid #6F7E87;
    float: left;
    margin: 20px 10px 20px 10px;
    padding: 0 0 10px;
    width: 200px;
}

.config h3 {
    color: #6F7E87;
    background: #C4CED4;
    border-bottom: 1px solid #6F7E87;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: lowercase;
    padding: 10px;
}

.config h4 {
    font-size: 1.2em;
    padding: 10px;
}

.branches {
    font-size: 1.2em;
    margin: 0 0 0 10px;
}

.branch {
    margin: 2px 0;
    padding: 3px 10px;
}

.branch a {
    float: right;
}